<div class = "container py-5">
  <div class = "row">
      <div class = "col-md-12">
        <h2 class = "text-title text-center">ユーザー一覧</h2>
        <table class = "table m-5">
          <thead>
            <th>画像</th>
            <th>名前</th>
            <th conspan = "3"></th>
          </thead>
          <tboby>
            <% @users.each do |user| %>
            <tr>
              <td>
                 <%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg",size:"40x40" %>
              </td>
              <td><%= user.name %></td>
              <td><%= link_to "詳細", user_path(user.id) %></td>
            <% end %>
            </tr>
          </tboby>
        </table>
      </div>
  </div>
</div>
