<div class = "container py-5">
  <div class = "row">
    <div class = "col-md-12 text-center mt-4">
      <h2 class = "title">meshiterroへようこそ！</h2>
      <p>ログインまたは新規登録して始めてください</p>
      <%= link_to "ログイン" , new_user_session_path, class: "btn btn-success m-4" %>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-info m-4" %>
    </div>
  </div>
</div>