<% if @model == "user" %>
  <h3>User検索結果<%= @content %></h3>
  <%= render "user/search", users: @records %>

<% else @model == "post_image" %>
  <h3>PostImage検索結果<%= @content %></h3>
  <%= render "post_image/search", post_images: @records %>
<% end %>